@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --color-primary-light: var(--primary-light);
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);

  --color-neutral-100: var(--neutral-100);
  --color-neutral-200: var(--neutral-200);
  --color-neutral-300: var(--neutral-300);
}

:root {
  --background: #FAF8FC;
  --foreground: #262626;

  --neutral-100: #F5F5F5;
  --neutral-200: #EBEBEB;
  --neutral-300: #D4D4D4;

  --primary-light: #FF3330;
  --primary: #E00501;
  --primary-dark: #B30401;
}

.dark {
  --background: #262626;
  --foreground: #FAF8FC;

  --neutral-100: #666666;
  --neutral-200: #4D4D4D;
  --neutral-300: #333333;

  --primary-light: #FF4D4A;
  --primary: #E00501;
  --primary-dark: #A80401;
}