@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme {
  /* Suas cores personalizadas */
  --color-primary-light: var(--primary-light);
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);

  --color-neutral-100: var(--neutral-100);
  --color-neutral-200: var(--neutral-200);
  --color-neutral-300: var(--neutral-300);

  /* Mapeamento das variáveis do Shadcn para o tema do Tailwind */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

:root {
  /* --- MINHAS CORES --- */
  --primary: #E00501;
  --primary-light: #FF3330;
  --primary-dark: #B30401;

  --background: #FAF8FC;
  --foreground: #262626;

  --neutral-100: #F5F5F5;
  --neutral-200: #EBEBEB;
  --neutral-300: #D4D4D4;

  /* --- AJUSTES SHADCN --- */
  --primary-foreground: #FFFFFF;
  --card: #FFFFFF;
  --card-foreground: #262626;
  --popover: #FFFFFF;
  --popover-foreground: #262626;
  --secondary: #EBEBEB;
  --secondary-foreground: #262626;
  --muted: #F5F5F5;
  --muted-foreground: #737373;
  --accent: #F5F5F5;
  --accent-foreground: #262626;
  --destructive: #ef4444;
  --border: #EBEBEB;
  --input: #EBEBEB;
  --ring: #E00501;
  --radius: 0.625rem;
}

.dark {
  /* --- MINHAS CORES DARK --- */
  --background: #262626;
  --foreground: #FAF8FC;

  --neutral-100: #666666;
  --neutral-200: #4D4D4D;
  --neutral-300: #333333;

  --primary: #E00501;
  --primary-light: #FF4D4A;
  --primary-dark: #A80401;

  /* --- AJUSTES SHADCN DARK --- */
  --primary-foreground: #FFFFFF;
  --card: #262626;
  --card-foreground: #FAF8FC;
  --popover: #262626;
  --popover-foreground: #FAF8FC;
  --secondary: #4D4D4D;
  --secondary-foreground: #FAF8FC;
  --muted: #333333;
  --muted-foreground: #a3a3a3;
  --accent: #333333;
  --accent-foreground: #FAF8FC;
  --border: #4D4D4D;
  --input: #4D4D4D;
  --ring: #E00501;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}